h1 {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    min-height: 100%;
}
* {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:    rgb(252, 252, 252);
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    display: flex;
    width: 400px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.login input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 90px;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login button:hover{
    background-color: rgba(40, 40, 40, 0.6);
}
header {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100vw;
    position: fixed;
}
header ul {
    display: flex;
    list-style-type: none;
    color: #FFF;
    margin-right: 50px;
}

header ul li {
    margin: 0 20px 0 0;
}

header ul li a {
    color: #FFF;
    text-decoration: none;
    border-right: 2px solid black;
    padding: 5px 10px 5px 0;
    font-weight: bold;
    transition: color 0.2s;
}
header ul li .none {
    border: none;
    color: #000;
}
header h1 {
    color: #FFF;
    margin-left: 50px;
}
header ul li a:hover{
    color: black;
}